@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

nav {
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 15px black;
}

.menu {
    font-size: 1.5rem;
    margin: 10px 0 10px;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.5s;
}

.menu:hover {
    transition: all 0.5s;
    background-color: #333333;
}

.menu a {
    text-decoration: none;
    color: #adacac;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.5rem;
    background-color: transparent;
    color: #222222;
    border: solid 3px #222222;
    border-radius: 10px;
    padding: 0.58rem;
    font-weight: 500;
}

.valide {
    color: #f1f1f1 !important; 
    
}






